.flex{
    display:flex;
    justify-content:space-evenly;
    margin:20px;

    }
    
    .flex1{
    
    display:flex;
    justify-content:space-evenly;
    margin:20px;
    
    }

    .sec{
        border: 1px solid aqua;
        width:50%;
        border-radius: 55px;
        background-color:black;
    }

    .a{
        border: 1px solid aqua;
        width:20%;
        text-align: center;
        border-radius: 75px;
    }

    .b{
        border: 1px solid aqua;
        width:20%;
        text-align: center;
        border-radius: 75px;
    }

    .c{
        border: 1px solid aqua;
        margin:20px;
        text-align: center;  
        border-radius: 75px;
    
   

    }
    h1{
        color:white;
        font-size: 18px;

    }
    p{
        color:red;
        font-size: 20px;
    }

  
    